<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hi, webpack dev server</title>
</head>
<body>
  Hi, webpack-dev-server. New
  <script src="bundle.js"></script>
</body>
</html>
